<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Wendy Tovar!
  </h1>
  <h1>Listado de elementos</h1>
<table >
  <tr>
    <td><strong>Nombre Elemento</strong></td>
    <td><strong>Simbolo</strong></td>
    <td><strong>Numero atomico</strong></td>
    <td><strong>Peso Atomico</strong></td>
  </tr>
  <tr *ngFor="let nombre of paises">
    <td>{{nombre.nombre}}</td>
    <td>{{nombre.simbolo}}</td>
    <td>{{nombre.numero_atomico}}</td>
   <td>{{nombre.peso_atomico}}</td>
  </tr>

  



  <tr>
    <td>Cobalto</td>
    <td>Co</td>
    <td>28</td>
    <td>58,933</td>
  </tr>

  <tr>
    <td>Plomo</td>
    <td>Pb</td>
    <td>82</td>
    <td>207,2</td>
  </tr>
</table>
 
</div>
<h2>wendyd-tovarr@unilibre.edu.co </h2>
<h2>wendy dayanna tovar rojas</h2>


<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
